 body{
    margin: 0;
    padding: 0;
 }
 h1, h2, h3, h4, h5, h6{
   margin: 0;
 }
 *{
    text-decoration: none;
    box-sizing: border-box;
 } 

 /* ScrollBar */
::-webkit-scrollbar {
   width: 15px; 
 } 
 ::-webkit-scrollbar-thumb {
   background-color: #E5BC62;
   background-clip: padding-box; 
 } 
 ::-webkit-scrollbar-track {
   background-color: #5CAAC6;
 }
/* ScrollBar */

 .burger-lines{
    display: none;
 }
 .home_page_header{
    width: 100%;
    height: 1080px;
    position: relative; 
 }
 .home_page_header::before{
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(92, 170, 198, 0.73);
   z-index: 1;
 }
 .header-1-box{
   position:fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 999;
   height: 130px;
   transition: 0.3s;
 }
 .scroll-header-class{
   background: rgba(92, 170, 198, 0.73);
 }
 .header_1{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 0;
 }
 .logo{
   width: 138px;
   height: 68px;
 }
 .logo a img{
   width: 100%;
   height: 100%;
 }
 .right-side-info-header{
   display: flex;
   align-items: center;
 }
 .contact-info-header{
   display: flex;
   align-items: center;
   gap: 40px;
 }
 .contact-info-header a{
   display: flex;
   align-items: center;
   text-decoration: none;
   gap: 14px;
   color: #fff;
   font-size: 16px;
   font-family: 'BPG DejaVuSans';
   line-height: 21px;
   transition: 0.3s;
 }
 .contact-info-header a:hover {
   text-decoration: underline;
 }
 .contact-info-header a .icon_he_0 span{
   transition: 0.3s;
 }
 .contact-info-header a:hover .icon_he_0 span{
   color: rgba(92, 170, 198, 1);
 }
 .contact-info-header a .icon_he_0{
   width: 40px;
   height: 40px;
   background-color: #fff;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
 }
 .icon-phone-call{
   font-size: 19px;
   color: rgba(92, 170, 198, 0.63);
 }
 .icon-placeholder{
   font-size: 23px;
   color: rgba(92, 170, 198, 0.63);
 }
 .lang-box{
   margin: 0 20px;
   position: relative;
   width: 40px;
   height: 40px;
 }
 .lang{ 
   display: flex;
    align-items: center;
    flex-direction: column; 
    width: 100%; 
    max-height: 40px;  
    overflow: hidden;
    transition: 0.3s;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 9;
 }
 .lang a{
   font-size: 14px;
   color: #29607E; 
   text-transform: capitalize;
   font-family: 'BPG DejaVuSans';
   font-weight: 400;
   line-height: 40px; 
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;  
   position: relative; 
 }
 .lang a::after{
   position: absolute;
   content: "";
   left: 5%;
   bottom: -2px;
   width: 90%;
   height: 2px;
   background: rgba(92, 170, 198, 0.2);
   transition: 0.5s;
 }
 .lang a:hover::after{
   background: rgba(92, 170, 198, 1);
 }
 .lang a:hover{
   font-weight: 600;
 }
 .lang:hover{ 
   max-height: 150px;
   border-radius: 0;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }
 .searc-box-header{
   position: relative;
   min-width: 40px;
   min-height: 40px;
   cursor: pointer;
 }
 .searc-box-header .search-form{
   position: absolute;
   min-width: 40px;
   min-height: 40px;
   right: 0;
 }
 .search-form input{
   position: relative;
   right: 0;
   width: 40px;
   height: 40px;
   transition: 0.3s;
   border: none;
   outline: none;
   appearance: none; 
   font-size: 14px;
   color: #29607E;
   line-height: 20px; 
   font-family: 'BPG DejaVuSans';
   border-radius: 50%;
   background: #fff;
 }
 .button-search{
   position: absolute;
   top: 0;
   right: 0;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center; 
   background-color: #fff;
   border-radius: 50%;
   z-index: 5;
 }
 .button-search span{
   height: 26px;
 }
 .searc-box-header:hover .search-form input,
 .search-form input:focus-visible{
   width: 170px;
   border-radius: 0;
   padding-left: 10px;
   padding-right: 40px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
 }

 .home-page-box{
   position: relative;
 }
 .home-banner-container{
   position: absolute;
   top: 130px;
   left: 0;
   width: 100%;
   height: calc(100% - 130px); 
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .home-banner-box{ 
   width: 92.3%;
   position: relative;
   height: 100%;  
 }
 .home-banner-image{
   width: 100%;
   height: 865px;
   border-radius: 8px;
   overflow: hidden;
 }
 .home-banner-image img{
   width: 100%;
   height: 100%;
   /* object-fit: cover; */
 }

 .home-banner-nav{
   position: absolute;
   right: 0;
   top: 130px; 
 }
 .home-ul{
   padding: 0;
   gap: 5px;
   display: flex;
   flex-direction: column;
 }
 .home-li{ 
   list-style: none;
    transition: 0.3s;
    width: 530px;
 }
 .home-a{
   width: 89%;
   background-color: rgba(255, 255, 255, 0.77);
   display: block;
   float: right;
   padding: 25px 0;
   padding-left: 40px;
   transition: 0.3s;
   font-size: 24px;
   line-height: 32px;
   color: #0F0F0F; 
   font-family: 'BPG DejaVuSans';
 }
 .home-li:first-child .home-a{
   border-top-left-radius: 20px;
 }
 .home-li:last-child .home-a{
   border-bottom-left-radius: 20px;
 }
 .home-li:hover .home-a{ 
   width: 100%;
   color: #fff;
   background-color: rgba(248, 202, 106, 0.9);
 }

 .home-banner-text{
   position: absolute;
    bottom: 0;
    max-width: 890px;
    height: 226px;
    padding: 50px 60px;
    border-radius: 8px;
    left: 13%; 
    background-color: #41869f; 
 }
 .home-banner-text .text{
   font-size: 26px;
   line-height: 42px;
   color: #fff;
   font-family: 'BPG DejaVuSans';
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content:center;
 }
 /* programs section */

 .programs-section{
   padding-top: 50px;
   padding-bottom: 120px; 
 }
 .important-title{
   max-width: 800px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   gap: 20px;
   margin-bottom: 40px;
 }
 .important-title h1{
   font-size: 32px;
   color: #29607E;
   font-family: 'BPG DejaVu Sans Caps Book';
 }
 .important-title img{
   width: 128px;
   height: 113px;
 }
.programs-box{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.program-item{
   width: calc((100% / 4) - 23px);
   height: 740px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.p-item{
   width: 100%;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.program-text-box{
   position: absolute;
   width: 86%;
   height: 92%; 
   border: 3px solid #fff;
   background: transparent;
   transition: 0.2s;
}
.program-text{
   width: 100%;
   height: 100%; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 44px; 
   transition: 0.2s;  
   display: none;
}
.p-text-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   width: 155px;
   height: 155px;
   background: #E5BC62;
}
.p-text-icon img{
   width: 51%;
   height: 48%;
}
.program-text h2{
   font-size: 26px;
   color: #606060;
   line-height: 40px;
   font-family: 'BPG DejaVu Sans Caps Book';
   margin-top: 80px;
   margin-bottom: 25px;
   text-align: center;
}
.program-text .text{
   font-size: 18px;
   color: #606060;
   font-family: 'BPG DejaVuSans';
   line-height: 28px;
   max-height: 219px;
   overflow: hidden;
   text-align: center;
   margin-bottom: 60px;
}
.hover-title{
   margin: 0 auto;
   max-width: 70%;
   text-align: center;
   margin-top: 50px;
   color: #FFFFFF;
   font-size: 28px;
   line-height: 40px;
   font-family: 'BPG DejaVu Sans Caps Book';
   transition: 0.2s;
   display: block;
}
.program-item:hover .program-text-box{
   width: 100%;
   height: 100%;
   background-color:  #F9F9F9;
   border: 3px solid #F9F9F9;
}
.program-item:hover .hover-title{
   display: none;
}
.program-item:hover .program-text{
   display: flex;
}
 /* programs section */

 /* Footer */
 .footer-box{
   width: 100%;
   padding: 90px 0;
   display: flex;
   align-items: center;
 }
 .footer-logo-box{
   display: flex;
   flex-direction: column;
   gap: 30px;
 }
 .f-logo{
  width: fit-content;
 }
 .footer-logo-box .text{
   max-height: 88px;
   overflow: hidden;
   line-height: 30px;
   color: #606060;
   font-size: 18px;
   font-family: 'BPG DejaVuSans';
   padding-right: 24%;
 }
 .footer-contact-info{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 30px;
 }
 .footer-contact-info h1{
   font-size: 18px;
   line-height: 24px;
   color: #606060;
   font-family: 'BPG DejaVu Sans Caps Book';
 }
 .footer-contact-info ul {
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 18px;
 }
 .footer-contact-info ul li{
   list-style: none;
   width: fit-content;

 }
 .footer-contact-info ul li a{
   font-size: 18px;
   line-height: 24px;
   color: #606060;
   font-family: 'BPG DejaVuSans';
   transition: 0.3s;
   width: fit-content;
 }
 .footer-contact-info ul li:hover a{
   text-decoration: underline;
 }
 .footer-links ul{
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 22px;
 }
 .footer-links ul li{
   list-style: none;
   width: fit-content;
 }
 .footer-links ul li a{
   font-size: 18px;
   line-height: 24px;
   font-family: 'BPG DejaVuSans';
   transition: 0.3s;
   color: #606060;
 }
 .footer-links ul li:hover a{
   color: #29607E;
   text-decoration: underline;
 }
 .footer-message-box{
   display: flex;
   flex-direction: column;
   align-items: end;
   gap: 25px;
 }
 .footer-message-box .text{
   color: #606060;
   font-size: 18px;
   line-height: 26px;   
    font-family: 'BPG DejaVuSans';
    text-align: end;
 }
 .footer-socails{
   display: flex;
   align-items: center;
   gap: 20px; 
 }
 .f-soc-icon{
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #5CAAC6;
   border-radius: 50%;
 }
 .icon-mail { 
   font-size: 18px;
   color: #fff;
   transition: 0.3s;
 }
 .icon-fb{
   font-size: 25px; 
   color: #fff;
   transition: 0.3s;
 }
 .icon-instagram{
   font-size: 25px; 
   color: #fff;
   transition: 0.3s;
 }
 .footer-a{
   padding: 13px 24px;
   border-radius: 12px;
   background: #E5BC62;
   color: #fff;
   font-size: 18px;
   font-family: 'BPG DejaVuSans';
   transition: 0.2s;
 }
 .footer-a:hover{
   background: #5CAAC6; 
 }
 .create-box{
   height: 59px;
   background: #606060; 
 }
 .create-cont{
   height: 100%;
 }
 .create{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 } 
 .create span,  .create a{
   font-size: 16px;
   color: #fff;
   font-family: 'BPG DejaVu Sans Caps Book';
 }
 /* Footer */
/* Vacancy section*/
.full-width-vacancy{
  width: 100%;
}
.vacancy-section{
  position: relative;
  width: 100%;
  height: 1079px;
  background-size: 1074px;
  background-repeat: no-repeat;
  background-position: left;
}
.vacancy-blur{
  position: absolute;
  width: 1074px;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(190, 190, 190, 0.77);
}
.vacancy-cont{
  position: absolute;
  top: 118px;
  width: 100%;
}
.vacancy-title{
  justify-content: flex-start;
}
.vacancy-title h1{
  color: #fff;
}
.vacancy-type-list{
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-right: 17%;
}
 .vacancy-item{
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #fff;
  transition: 0.3s;
}
.icon-vacancy{
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #E5BC62;
  transition: 0.3s;
}
.icon-vacancy img{
  width: 70%;
  height: 75%;
}

 .vacancy-item span{
  color: #606060;
  font-size: 22px;
  line-height: 32px;
  font-family: 'BPG DejaVuSans';
  max-height: 32px;
  overflow: hidden;
  max-width: calc(100% - 120px);
  padding-right: 20px;
  margin-top: 15px;
  transition: 0.3s;
}
 .vacancy-item:hover{
  background: #E5BC62;
}
 .vacancy-item:hover span{
  color: #fff;
}
 .vacancy-item:hover .icon-vacancy{
  background: rgba(190, 190, 190, 0.77);
}
.vacancy-right-box{
  width: 100%; 
  display: flex;
  flex-direction: column; 
  padding-top: 16px;
}
.vacancy-right-img{
  width: 100%;
  height: 439px;
  position: relative;
}
.vacancy-right-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
.vacancy-time-box{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 21px 66px 21px 31px;
  background: rgba(76, 138, 157, 0.85);
  border-top-left-radius: 12px;
  font-size: 18px;
  color: #fff;
  font-family: 'BPG DejaVuSans';
}
.vacancy-context{
  width: 100%;
  background: #fff;
  padding: 40px 60px 50px 60px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.vacancy-context h1{
  font-size: 26px;
  color: #4C8A9D;
  margin-bottom: 20px;
  font-family: 'BPG DejaVu Sans Caps Book';
  width: fit-content;
  max-height: 33px;
  overflow: hidden;
}
.vacancy-context .text{
  font-size: 18px;
  color: #606060;
  line-height: 28px;
  font-family: 'BPG DejaVuSans';
  margin-bottom: 40px;
  max-height: 30px;
  overflow: hidden;
}
.vacancy-ul{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 40px;
  width: 100%;
}
.vacancy-li{
  width: calc((100% / 2) - 20px);
  display: flex;
  gap: 25px;
  align-items: center;
}
.vacancy-li a{
  font-size: 16px;
  color: #606060;
  font-family: 'BPG DejaVuSans';
  transition: 0.3s;
}
.vacancy-li a:hover{
  color: #41869f;
}
.vacancy-li span{
  font-size: 25px;
  color: #5CAAC6;
  width: 18px;
}
.vacancy-dots{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}
.pos-rel{
  position: relative;
  /* width: 100%; */
}
.see-all-link{
  position: absolute;
  bottom: -62px;
  right: 12px;
}
.see-all-link a{
  font-size: 16px;
  color: #05638B;
  font-family: 'BPG DejaVuSans'; 
  padding-bottom: 8px;
  position: relative;
}
.see-all-link a:after{
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: #606060;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.see-all-link a:hover::after{
  width: 100%;
}
/* Vacancy section*/
/* Slider section */
.home-slider-section{
  position: relative;
  width: 100%;
  height: 623px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.slider-blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96, 96, 96, 0.5);
}
.home-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 80px;
}
.slider_1{
  display: flex;
  gap: 30px;
}
.slider-item{
  width: calc((100% / 4) - 20px);
  height: 443px;
  display: flex;  
  background: #fff;
  transition: 0.3s;
}
.slider-item-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.slider-img{
  width: 129px;
  height: 129px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
.slider-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  filter: grayscale(1);
}
.name_00_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.name_00_box h1{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #606060;
  font-family: 'BPG DejaVu Sans Caps Book';
  transition: 0.3s;
}
.name_00_box span{
  font-size: 14px; 
  color: #606060;
  font-family: 'BPG DejaVuSans'; 
  transition: 0.3s;
  margin-top: 7px;
}
.rank_stars{
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.rank_stars span svg path {
  transition: 0.3s;
}
.slider-item .text{
  font-size: 16px;
  line-height: 24px;
  color: #606060;
  font-family: 'BPG DejaVuSans'; 
  margin-top: 15px;
  max-height: 93px;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
  transition: 0.3s;
}
.see-all span{
  color: #6297A6;
  font-family: 'BPG DejaVuSans'; 
  font-size: 16px; 
  transition: 0.3s;
}

.slider-item:hover{
  background: #5CAAC6;
}
.slider-item:hover .slider-img img{
  filter: grayscale(0); 
}
.slider-item:hover .name_00_box h1, 
.slider-item:hover .text,
.slider-item:hover .see-all span,
.slider-item:hover .name_00_box span{
  color: #fff;
}
.slider-item:hover .rank_stars span svg path {
 fill: #fff;
}
.slider_1 .slick-slide {
  margin: 0 15px;
}
.slider_1 .slick-list { 
  margin: 0 -15px;
}
.left-arrow{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  background: #F1F1F1;
  border-radius: 50%;
  position: absolute;
  left:-50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  cursor: pointer;
}
.right-arrow{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  background: #F1F1F1;
  border-radius: 50%;
  position: absolute;
  right:-50px;
  top: 50%; 
  padding: 15px;
  cursor: pointer;
  transform: translateY(-50%) rotate(180deg);
}
 
/* Slider section */

/* About us section */
  .home-about-us-section{
    padding-top: 50px;
    padding-bottom: 100px;
    background: rgba(248, 248, 248, 0.86);
  }
  .about-relatve-cont{
    position: relative;
    width: 100%;
    display: flex; 
    flex-wrap: nowrap;
  }
  .about-section-title{
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 40px;
  }
  .about-section-title h1{
    color: #4C8A9D;
  }
  
  .left-about-box{
    width: 49.7%;  
    z-index: 5;
  } 
  .__about-left-image-box{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 759px;
    border-top: 12px solid #fff;
    border-right: 12px solid #fff;
  }
  .__about-left-image-box img{
    width: 100%;
    height: 100%;
  }
  .__left-about-text{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 34px 61px 42px 40px;
    width: 590px;
    background: rgba(76, 138, 157, 0.85);
  }
  .__left-about-text h1{
    font-size: 26px;
    color: #FFFFFF;
    font-family: 'BPG DejaVu Sans Caps Book';
    line-height: 35px;
    margin-bottom: 18px;
  }
  .__left-about-text .text{
    font-size: 18px;
    font-family: 'BPG DejaVuSans';
    color: #FFFFFF;
    line-height: 28px;
    max-height: 85px;
    overflow: hidden;
    margin-bottom: 35px;
  }
  .about-dots{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-dots img{
    width: 74px;
    height: 16px;
  }
  .right-about-box {
    width: 58.3%;
    height: 856px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.right-about-image{
  width: 100%;
  height: 100%;
}
.right-about-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backgournd-about-blur{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(96, 96, 96, 0.6);
}
.about-subscribe-box{
  position: absolute; 
  left: 53%; 
  top: 200px;
  transform: translateX(-50%);
  z-index: 3;
}
.about-subscribe-box h2{
  color: #FFFFFF;
  font-size: 26px;
  margin-bottom: 20px;
  font-family: 'BPG DejaVu Sans Caps Book'; 
}
.about-form input{
  width: 495px;
  height: 75px;
  padding-right: 78px;
  padding-left: 15px;
  border: none;
  outline: none;
  appearance: none;
  background: rgba(245, 245, 245, 0.78);
  font-family: 'BPG DejaVuSans';
  font-size: 16px;
  position: relative; 
  color: #606060;
}
.about-form button{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 78px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5BC62;
  border: none;
}
/* About us section */

 

/* About Page */
.about-page-section_00{
  padding-top: 80px;
  background: rgba(248, 248, 248, 0.86);
}
.about-page-title{
  opacity: 0;
}
.about-page-text-side{
  padding-bottom: 50px;
}
.about-content-text{
  width: 90%;
  font-size: 20px;
  line-height: 32px;
  font-family: 'BPG DejaVuSans';
  color: #606060;
}
.brc-cont{
  width: 100%;
  margin: 30px 0;
  display: flex; 
  gap: 10px;
}
.brc-cont a{
  color: #29607E;
  font-size: 18px;
  font-family: 'BPG DejaVuSans'; 
}
.brc-cont a.active-brc{
  color: #E5BC62;
}
.another-page-header{
  width: 100%;
  height: initial;
}
.another-page-header::before{
  display: none;
}
.header-box{
  background: rgba(72, 133, 152, 0.8); 
  top: 35px;
  transition: 0.3s; 
}
.header_01{
  padding: 0;
  height: 130px;
}
.right-header-nav-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
 
.nav-box ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-box ul li{
  list-style: none;
  width: fit-content;
}
.nav-box ul li a{
  color: #fff;
  font-family: 'BPG DejaVuSans';
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
}
.nav-box ul li a:after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}
.nav-box ul li:hover a:after,
.nav-box ul li.active a:after{
  width: 102%;
}

/* About Page */
/* Banner */
  ._banner{
    width: 100%;
  }
  ._banner-img{
    width: 100%;
    height: 730px;
  }
  ._banner-img img{
    width: 100%;
    height: 100%; 
  }
/* Banner */
/* Vacancy Page */
.programs-section_01{
  background: rgba(249, 249, 249, 0.86);
  padding-bottom: 100px;
}
.vacancypage-section_00{
  padding-top: 0;
}
.vacancy-page-section_12{
  padding-bottom: 80px;
}
.vacancy-context_2{
  height: 440px;
}
.vacancy-context_2 .text{
  max-height: initial;
  height: 85px;
}
.vacancy-top-fixed-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 131px;
  background: rgba(255, 255, 255, 0.9);
  padding: 22px 60px;
  transition: 0.3s;
  display: flex; 
  gap: 20px;
}
.vacancy-top-fixed-box h1{
  width: 80%;
  font-size: 22px;
  max-height: 30px;
  overflow: hidden;
  line-height: 32px;
  color: #606060;
  font-family: 'BPG DejaVuSans';
  margin-top: 15px;
}
.img-fix-box_1{
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #E5BC62;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-fix-box_1 img {
  width: 62px;
  height: 37px;
}
.vacancy-right-img_01{
  overflow: hidden;
}
.vacancy-right-img_01:hover img{
  overflow: hidden;
  transform: scale(1.1);
}
.vacancy-right-img_01:hover .img-fix-box_1 img {
  transform: scale(1);
}
.vacancy-right-img_01:hover .vacancy-top-fixed-box{
  background: rgba(255, 255, 255, 0.98);
}
.vacancy-right-img_01:hover .img-fix-box_1{
  background-color: #606060;
}
.resp-row-03{
  gap: 14px 0;
}
/* Vacancy Page */
/* Pagination */
.pagintaion_0{
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagintaion_0 ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagintaion_0 ul li{
  list-style: none;
}
.pagintaion_0 ul li a{
  color: #4C8A9D;
  font-size: 18px;
}
.right-pagination-arrow{
  margin-left: 20px;
  margin-top: -3px;
}
.right-pagination-arrow span, .left-pagination-arrow span {
  height: 17px;
}
.right-pagination-arrow span svg{
  transform: rotate(180deg);
}
.left-pagination-arrow{
  margin-right: 20px;
  margin-top: -3px;
}
.pagintaion_0 ul li a.active{
  border-radius: 50%;
  background: #05638B;
  color: #fff;
  padding: 3px 10px;
}
/* Pagination */

